<div id="info" layout="row" layout-align="center start">
    <div class="mssdcard" flex="65" layout-align="center">
      <md-card>
        <md-content class="md-padding">
          <span class="md-title">{[{ degreeTitle }]}</span>
          <span class="md-subhead">
            <p align="left">{[{ degreeDesc }]}</p>
          </span>
        </md-content>
      </md-card>
      
      <div layout="row">
        <md-card flex="33">
          <md-content class="md-padding">
            <span class="md-title">{[{ courseReq.heading }]}</span>
            <span class="md-subhead"><p>{[{ courseReq.description }]}</p></span>
            <md-content>
                <md-list>
                  <md-list-item class="md-1-line" ng-repeat="course in courseReq.list">
                    <div class="md-list-item-text">
                      <span class="md-subhead">
                        <p>{[{ course }]}</p>
                      </span>
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                  </md-list-item>
                </md-list> 
              </md-content> 
              <md-button class="md-raised">Course Catalog</md-button>
          </md-content>
        </md-card>
        <md-card flex="33">
          <md-content class="md-padding">
            <span class="md-title">{[{ preReq.heading }]}</span>
            <span class="md-subhead"><p>{[{ preReq.description }]}</p></span>
            <ul>
              <li ng-repeat="criteria in preReq.list">{[{ criteria }]}</li>
            </ul>
          </md-content>
        </md-card>
        <md-card flex="33">
          <md-content class="md-padding">
            <span class="md-title">{[{ tution.heading }]}</span>
            <span class="md-subhead"><p>{[{ tution.description }]}</p></span>
            <ul>
                <li ng-repeat="criteria in tution.list">{[{ criteria }]}</li>
              </ul>
          </md-content>
        </md-card> 
      </div>
    </div>

    <div class="fjucard" flex="35">
      <md-card>
        <div class="fjucardtabs">
          <md-content>
            <md-tabs md-dynamic-height="" md-border-bottom="">
              <md-tab label="Register">
                <md-content class="md-padding">
                  <div layout="column" ng-cloak="" class="md-inline-form">
                    <md-content layout-padding="">
                      <div>
                        <form name="userForm" ng-submit="register()" novalidate>
                          <md-input-container class="md-block" flex-gt-sm="">
                            <label>First name</label>
                            <input name="fname" ng-blur="fnval=true" ng-model="user.firstName" required>
                            <div md-auto-hide="false" ng-messages="userForm.fname.$error" ng-if="userForm.$submitted || fnval">
                              <div id="req" ng-message="required">Required</div>
                            </div>
                          </md-input-container>

                          <md-input-container class="md-block" flex-gt-sm="">
                            <label>Last Name</label>
                            <input name="lname" ng-blur="lnval=true" ng-model="user.lastName" required>
                            <div md-auto-hide="false" ng-messages="userForm.lname.$error" ng-if="userForm.$submitted || lnval">
                              <div id="req" ng-message="required">Required</div>
                            </div>
                          </md-input-container>
                          
                          <md-input-container class="md-block" flex-gt-sm="">
                            <label>Email</label>
                            <input name="eid" type="email" ng-blur="emval=true" ng-model="user.emailId" eid required>
                            <div md-auto-hide="false" ng-messages="userForm.eid.$error" ng-if="userForm.$submitted || emval">
                              <div id="req" ng-message="required">Required</div>
                              <div id="inveid" ng-message="eid">Invalid Email ID</div>
                            </div>
                          </md-input-container>
                         
                          <md-input-container class="md-block" flex-gt-sm="">
                            <label>Skype ID</label>
                            <input name="skyid" ng-blur="skyval=true" ng-model="user.skypeId" required>
                            <div md-auto-hide="false" ng-messages="userForm.skyid.$error" ng-if="userForm.$submitted || skyval">
                              <div id="req" ng-message="required">Required</div>
                            </div>
                          </md-input-container>
                          
                          <md-input-container class="md-block" flex-gt-sm="">
                            <label>Phone Number</label>
                            <input name="phone" ng-model="user.phoneNo" ng-blur="phval=true" phoneno required>
                            <div md-auto-hide="false" ng-messages="userForm.phone.$error" ng-if="phval || userForm.$submitted">
                              <div id="req" ng-message="required">Required</div>
                              <div id="phid" ng-message="phoneno">Invalid Phone Number</div>
                            </div>
                          </md-input-container>
                            <md-button type="submit" id="reg" class="md-raised" flex-gt-sm="">Register</md-button>
                        </form>
                      </div>
                    </md-content>
                  </div>
                </md-content>
              </md-tab>
            </md-tabs>
          </md-content>
        </div>
      </md-card>
    </div>
  </div>